/* portfolio image hover effect */

main .portfolio .images-section img:hover {
  cursor: pointer;
}

main .subscribe input[type="email"]:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

button:hover {
  cursor: pointer;
}

button:focus {
  background-color: rgba(255, 0, 0, 0.837) !important;
}