/* portfolio image hover effect */

main .portfolio .images-section img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
}

main .portfolio .images-section img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

main .subscribe input[type="email"]:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

button:hover {
  cursor: pointer;
}

button:focus {
  background-color: rgba(255, 0, 0, 0.837) !important;
}